.container
{
    background-color: gainsboro;
    height: 1670px
}
.profile
{
  background-color: white;
  width: 400px;
  height: auto;
  margin-left: 10px;
  padding-left: 20px;
  margin-top: 20px;
  box-shadow: 10px 10px  #bababa;
}
.content
{
  margin-left: 440px;
  margin-top: -1635px;
  background-color: #0078B3;
  color: white;
  width: 840px;
  height: 1635px;
  padding-top: 10px;
  padding-left: 10px;
  box-shadow: 10px 10px  rgb(82, 78, 78);
}
.img-thumbnail{
height: 350px;
width: 350px;
}
.skill
{
width: 90%;
}
.fa-asterisk
{
color: blue;
}
.fa-asterisk:hover
{
color: black;
}
.language
{
width: 90%;
font-size: 15px;
}
.fa-language
{
font-size: 42px;
color: blue;
}
.fa-language:hover
{
color: black;
}
.fa-share-square
{
color: blue;
}
.fa-share-square:hover
{
color: black;
}
.fa-linkedin {
background: #007bb5;
color: white;
border-radius: 50%;
padding: 20px;
font-size: 30px;
width: 65px;
text-decoration: none;
margin: 5px 2px;
}
.fa-facebook {
background: #3B5998;
color: white;
border-radius: 50%;
padding: 20px;
font-size: 30px;
width: 60px;
text-decoration: none;
margin: 5px 2px;
}
.fa-book
{
background: white;
color: black;
border: 4px solid black;
border-radius: 50%;
padding: 20px;
font-size: 30px;
width: 85px;
text-decoration: none;
margin-left: 50px;
}
.fa-book:hover
{
color: blue;
border-color: red;
}
.fa-music
{
background: white;
color: black;
border: 4px solid black;
border-radius: 50%;
padding: 20px;
font-size: 30px;
width: 88px;
text-decoration: none;
}
.fa-music:hover
{
color: blue;
border-color: red;
}
.fa-gamepad
{
background: white;
color: black;
border: 4px solid black;
border-radius: 50%;
padding: 20px;
font-size: 30px;
width: 88px;
text-decoration: none;

}
.fa-gamepad:hover
{
color: blue;
border-color: red;
}
.fa-globe
{
background: white;
color: black;
border: 4px solid black;
border-radius: 50%;
padding: 20px;
font-size: 30px;
width: 80px;
text-decoration: none;
margin-right: 90px;
}
.fa-globe:hover
{
color: blue;
border-color: red;
}
.fa-briefcase:hover
{
color: blue;
}
.svg
{
border: 2px solid black;
border-radius: 50%;
background: rgb(215, 216, 213);
padding: 10px;
width: 60px;
text-decoration: none;
margin: 5px 2px; 
}
.socialp
{
margin-left: 150px;
margin-top: -120px;
padding-top: 50px;
}
li
{
font-size: 20px;
}
a
{
font-size: 20px;
}
.mini:hover
{
color: black;
}
.divided {
display: flex;
align-items: center;
}
.divider {
flex-grow: 1;
border-bottom: 3px solid black;
}
.fa-star:hover
{
color: blue;
}
.fa-code:hover
{
color: blue;
}
.fa-user:hover
{
color: blue;
}
.fa-graduation-cap:hover
{
color: blue;
}
.hobby1
{
display: grid;
grid-template-columns: auto auto auto auto;
gap: 55px;
margin-left: 55px;
font-size: 20px;
}